<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Brisk-le</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      The Brisk-le is a social network which will ease your gathering.
      This is just a sample application for the Brisk-le.
    </p>
  </body>
</html>